.contact{
    background-color: rgb(66, 66, 66);
    padding: 50px 0;

    .footer-content{
        color: white;
        h3{
            font-family: $font;
            font-weight: bold;
        }
        ul{
            margin: 0;
            padding: 0;
            li{
                list-style: none;
                padding: 0;
                margin: 0;
                span{
                    margin-left: 15px;
                }
            }
        }
    }
}

footer{
    padding: 20px;
    background-color: rgb(26, 26, 26);
    text-align: center;
    a{
        margin: 0 15px;
        color: white;
    }
}